<div class="container mx-auto">
        <div class="row">
        <div class="col-md-7 mx-auto">
    <h3><i class="fas fa-door-open mr-2"></i>Memo詳細画面</h3>
            
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <ul class="list-unstyled">
                <li class="mb-3"><b>タイトル：</b><%= @memo.title%></li>
                <li class="mb-3"><b>本文：</b><br><%= @memo.body %></li>
                <li class="mb-3"><b>タグ：</b><%= @memo.genre.name%></li>
            </ul>
        </div>
        <div>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 m-auto mt-4">
            
        <%= link_to "編集する", edit_memo_path(@memo.id), class: "btn btn-outline-info" %>
        <%= link_to "メモ一覧へ戻る", root_path, class: "btn btn-outline-secondary ml-4" %>
        </div>
    </div>
</div>